/* Estilos generales para todos los elementos */

* {
	text-decoration: none;
	font-family: 'Montserrat';
	color: #202020;
	padding: 0px;
	margin: 0px;
}

/* Header */

header {
	height: 50px;
}

.icon-hamburger-close {
	display: none;
}

.home-link {
	position: absolute;
	left: 0;
	top: 0;
	margin-top: 10px;
	margin-left: 10px;
}

/* animación hover, para la version web */

.home-link:hover {
	opacity: 80%;
	transition-duration: 125ms;
}

.hamburger-button {
	position: absolute;
	top: 20px;
	right: 15px;
	z-index: 30;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

header nav ul {
	list-style: none;
	color: #4F4F4F;
	display: none;
	text-align: right;
	line-height: 40px;
	position: absolute;
	margin-top: 100px;
	margin-right: 20px;
	background-color: white;
	top: 0;
	right: 0;
}

header nav ul li .cta {
	color: pink;
	font-weight: bold;
}

header nav {
	background-color: #fff;
	width: 262px;
	height: 100%;
	position: absolute;
	right: 0;
	display: none;
}

/* Main */

main {
	margin: 25px;
	margin-top: 70px;
}

p {
	margin-top: 10px;
	line-height: 25px;
}

main .cta-container #inscribirme,
main .cta-container #colaborar {
	width: 240px;
	line-height: 50px;
	text-align: center;
	margin: auto;
	border-radius: 10px;
	display: block;
	color: #fff;
}

main .cta-container #inscribirme {
	background-color: #F4A6B8;
	margin-top: 40px;
}

main .cta-container #colaborar {
	background-color: #65C7EE;
	margin-top: 20px;
}

/* animación hover, para la version web */

main .cta-container #colaborar:hover,
main .cta-container #inscribirme:hover {
	font-weight: bold;
	opacity: 80%;
	transition-duration: 250ms;
}

.modal-background {
	background-color: #000;
	opacity: 0.8;
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

/* Estilos con menú hamburguesa abierto  */

body.hamburger-menu-active .icon-hamburger-close {
	display: block;
	z-index: 20;
}

body.hamburger-menu-active header nav ul {
	display: block;
	z-index: 10;
}

body.hamburger-menu-active header nav {
	display: block;
	z-index: 5;
}

body.hamburger-menu-active .modal-background {
	display: block;
	z-index: 2;
}

body.hamburger-menu-active .icon-hamburger {
	display: none;
}

/* Estilos tablet y desktop */

@media (min-width: 759px) {
    main .cta-container #inscribirme {
        float: left;
        margin-left: 24%;
    }
    main .cta-container #colaborar {
        float: right;
        margin-right: 24%;
        }
    main .cta-container #inscribirme,
    main .cta-container #colaborar {
	    width: 180px;
        line-height: 40px;
        font-weight: bold;
        margin-top: 65px;
    }
}
@media (min-width: 1200px){
     main .cta-container #inscribirme {
        margin-left: 34%;
}
     main .cta-container #colaborar {
        margin-right: 34%;
        }
    main .cta-container #inscribirme,
    main .cta-container #colaborar {
	    width: 180px;
        line-height: 40px;
        margin-top: 95px;
         }
    }
